<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="main-container">
  <header>
    <h1>MẸO NÓI VIẾT CHUẨN</h1>
    <p>Tổng số câu: <strong>{{data.length}}</strong></p>
  </header>

  <main>
    <table class="questions-table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Câu hỏi</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.active]="ques.question == currentQuestion?.question" *ngFor="let ques of data; let i = index" (click)="goToQuestion(i);">
          <td *ngIf="ques.question != currentQuestion?.question"># {{i}}</td>
          <td *ngIf="ques.question == currentQuestion?.question"><i class="fas fa-volume-up"></i></td>
          <td>{{ques.question}}</td>
        </tr>
      </tbody>
    </table>

    <div class="image-container" *ngIf="currentQuestion?.img">
      <img src="{{currentQuestion?.img}}" onerror="this.src=''">
    </div>

    <div class="subtitle-container">
      <div class="subtitle-header" (click)="showAnswer = !showAnswer">
        <span>Phụ đề</span>
        <i class="fas {{showAnswer ?
          'fa-chevron-up' : 'fa-chevron-down'}}"></i>
      </div>
      <div class="subtitle-body" *ngIf="showAnswer">
        <p>{{currentQuestion?.answer}}</p>
      </div>
    </div>

    <div class="audio-player">
      <!-- <div class="progress-bar-container mb-3">
        <span>{{answerCurrentTime}}</span>
        <div class="progress-bar">
          <div class="progress"></div>
        </div>
        <span>{{answerDuration}}</span>
      </div> -->
      <div class="progress-bar-container mb-3">
        <span>{{ answerCurrentTime }}</span>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="(answerCurrentTime / answerDuration) * 100">
          </div>
        </div>
        <span>{{ answerDuration }}</span>
      </div>
      <div class="player-controls">
        <i class="fas {{ beepEnabled ? 'fa-bell' : 'fa-bell-slash' }}" (click)="beepEnabled = !beepEnabled;"> </i>
        <i class="fas {{ backgroundMuted ? 'fa-volume-down' : 'fa-volume-up' }}" (click)="toggleBackgroundMute()"></i>
        <i class="fas fa-backward-step" (click)="prevAudio()"></i>
        <button class="play-pause-btn" [disabled]="!answerAudio" (click)="toggleAnswerAudio()">
          <i class="fas {{ answerAudio?.paused ? 'fa-play' : 'fa-pause' }}"></i>
        </button>
        <i class="fas fa-forward-step" (click)="nextAudio()"></i>
        <i class="fas fa-sync-alt"></i>
        <i class="fas fa-random" (click)="shuffleQuestions()"></i>

      </div>
      <div class="flex items-center gap-2 justify-center mb-3">
        <div class="flex items-center gap-2 text-sm text-slate-300">
          <select id="playMode" [(ngModel)]="isRandomMode"
            class="bg-slate-800 text-white border border-slate-600 rounded px-2 py-1 focus:outline-none focus:ring focus:ring-indigo-500">
            <option [ngValue]="false">Sequential</option>
            <option [ngValue]="true">Random</option>
          </select>
        </div>
        <div class="flex items-center gap-2 text-sm text-slate-300">
          <select id="repeatMode" [(ngModel)]="repeatMode"
            class="bg-slate-800 text-white border border-slate-600 rounded px-2 py-1 focus:outline-none focus:ring focus:ring-indigo-500">
            <option value="1">1 times</option>
            <option value="3">3 times</option>
            <option value="5">5 times</option>
            <option value="10">10 times</option>
            <option value="infinite">Infinite</option>
          </select>
        </div>
      </div>

    </div>
  </main>
</div>
<div class="mx-auto px-4 py-6 space-y-6 text-gray-900 font-sans" *ngIf="false">
  <h1 class="text-white text-2xl font-bold text-center">🎧 Listening Practice</h1>

  <div class="bg-primary p-4 rounded-xl shadow border flex flex-col gap-4">
    <div class="flex items-center gap-4">
      <span class="text-nowrap text-sm font-medium flex items-center gap-1">🔊 Main Audio</span>
      <button [disabled]="!answerAudio" (click)="toggleAnswerAudio()" [ngClass]="{
          'bg-yellow-600 hover:bg-yellow-700': !answerAudio?.paused,
          'bg-green-600 hover:bg-green-700': answerAudio?.paused
        }" class="px-4 py-1 rounded text-white">
        {{ answerAudio?.paused ? '▶️' : '⏸️' }}
      </button>
      <input type="range" min="0" max="1" step="0.05" [value]="audioVolume"
        (input)="updateAudioVolume($any($event.target).value)" class="w-full accent-blue-500">
    </div>

    <div class="flex items-center gap-4">
      <span class="text-nowrap text-sm font-medium flex items-center gap-1">🎵 Background Music</span>
      <button (click)="toggleBackgroundMute()"
        class="bg-gray-700 hover:bg-gray-600 text-white px-3 py-1 rounded text-sm">
        {{ backgroundMuted ? '🔇' : '🔈' }}
      </button>
      <input type="range" min="0" max="1" step="0.05" [value]="backgroundMusic.volume"
        (input)="updateBackgroundVolume($any($event.target).value)" class="w-full accent-indigo-300">
    </div>
  </div>

  <div class="flex justify-around gap-4 items-center px-4 py-1 bg-primary rounded-[15px] ring-1 ring-white">
    <div (click)="stopApp()"
      class="relative group hover:cursor-pointer hover:bg-slate-800 p-2 rounded-full transition-all duration-500">
      <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.9167 30H20.4167C19.2658 30 18.3333 29.1392 18.3333 28.0769V21.1538C18.3333 20.3038 17.5875 19.6154 16.6667 19.6154H13.3333C12.4125 19.6154 11.6667 20.3038 11.6667 21.1538V28.0769C11.6667 29.1392 10.7342 30 9.58333 30H2.08333C0.9325 30 0 29.1392 0 28.0769V13.3946C0 11.6262 0.878334 9.95539 2.3825 8.86154L14.2258 0.246923C14.68 -0.0823077 15.32 -0.0823077 15.7733 0.246923L27.6183 8.86154C29.1225 9.95539 30 11.6254 30 13.3931V28.0769C30 29.1392 29.0675 30 27.9167 30Z"
          fill="white"></path>
      </svg>
      <div
        class="absolute bottom-full left-1/2 transform -translate-x-1/2 mb-4 w-max px-2 py-1 text-white bg-primary rounded-md opacity-0 scale-50 transition-all duration-500 group-hover:opacity-100 group-hover:scale-100">
        Home
      </div>
    </div>

    <div (click)="beepEnabled = !beepEnabled; showBeepToast(beepEnabled ? '🔔 Beep đã bật' : '🔕 Beep đã tắt')"
      class="relative group hover:cursor-pointer hover:bg-slate-800 p-2 rounded-full transition-all duration-500">
      {{ beepEnabled ? '🔔' : '🔕' }}

      <div
        class="absolute bottom-full left-1/2 -translate-x-1/2 mb-4 w-max px-2 py-1 text-white bg-primary rounded-md opacity-0 transform scale-50 transition-all duration-500 group-hover:opacity-100 group-hover:scale-100">
        {{ beepEnabled ? '🔔 Beep đã bật' : '🔕 Beep đã tắt' }}
      </div>
    </div>

    <div (click)="stopApp()"
      class="relative group hover:cursor-pointer hover:bg-slate-800 p-2 rounded-full transition-all duration-500">
      🔚

      <div
        class="absolute bottom-full left-1/2 -translate-x-1/2 mb-4 w-max px-2 py-1 text-white bg-primary rounded-md opacity-0 transform scale-50 transition-all duration-500 group-hover:opacity-100 group-hover:scale-100">
        Thoát
      </div>
    </div>
  </div>

  <div class="bg-[#1e293b] p-6 rounded-xl shadow-lg border border-[#334155] space-y-4 transition-all">
    <div class="flex justify-between items-center">
      <p class="font-semibold text-sm text-slate-300">
        Question {{ currentIndex + 1 }}/{{ data.length }}
      </p>

      <button (click)="playQuestionAgain()" title="Replay" class="text-slate-400 hover:text-white transition">
        <i class="ph ph-arrow-counter-clockwise text-lg"></i>
      </button>
      <div class="flex gap-x-[10px]">
        <button (click)="shuffleQuestions()"
          class="bg-amber-600 hover:bg-amber-700 text-white px-4 py-2 rounded shadow font-semibold transition">
          🎲 Xáo trộn câu hỏi
        </button>

        <!-- Nút mở Drawer -->
        <button (click)="showDrawer = true"
          class="bg-purple-700 hover:bg-purple-800 text-white px-4 py-2 rounded shadow">
          📋 Xem danh sách câu hỏi
        </button>
        <button class="bg-[#8db9ca] border-white px-4 py-2 rounded text-white"
          title="{{showAnswer ? 'Hiện câu trả lời':'Ẩn câu trả lời'}}" (click)="showAnswer = !showAnswer">{{showAnswer ?
          '👁️‍🗨️' : '🗨️'}}</button>
      </div>
    </div>
    <div class="bg-slate-700/40 text-white p-4 rounded-md font-medium tracking-wide">
      {{ currentQuestion?.question }}
    </div>
    <div *ngIf="showAnswer"
      class="bg-emerald-500/5 border border-emerald-500 text-emerald-100 p-4 rounded-md text-sm leading-relaxed">
      {{ currentQuestion?.answer }}
    </div>
    <div class="text-center text-sm text-slate-400">
      Repetitions left:
      <span class="font-semibold text-white">
        {{ repeatMode === 'infinite' ? '♾️' : repeatLimit - repeatCount }}
      </span>
    </div>
    <div class="flex justify-between items-center pt-4">
      <div class="flex gap-2">
        <button (click)="prevAudio()"
          class="bg-slate-700 text-white px-4 py-2 rounded hover:bg-slate-600 text-sm transition">
          Previous
        </button>
        <button (click)="nextAudio()"
          class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 text-sm transition">
          Next
        </button>
      </div>
      <div class="flex items-center gap-2 text-sm text-slate-300">
        <label for="playMode">Mode:</label>
        <select id="playMode" [(ngModel)]="isRandomMode"
          class="bg-slate-800 text-white border border-slate-600 rounded px-2 py-1 focus:outline-none focus:ring focus:ring-indigo-500">
          <option [ngValue]="false">Sequential</option>
          <option [ngValue]="true">Random</option>
        </select>
      </div>
      <div class="flex items-center gap-2 text-sm text-slate-300">
        <label for="repeatMode">Repeat:</label>
        <select id="repeatMode" [(ngModel)]="repeatMode"
          class="bg-slate-800 text-white border border-slate-600 rounded px-2 py-1 focus:outline-none focus:ring focus:ring-indigo-500">
          <option value="1">1 times</option>
          <option value="3">3 times</option>
          <option value="5">5 times</option>
          <option value="10">10 times</option>
          <option value="infinite">Infinite</option>
        </select>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showToast" [@toastAnim]
  class="fixed bottom-6 right-6 bg-primary/80 text-white px-4 py-2 rounded shadow-lg text-sm z-50">
  {{ toastMessage }}
</div>


<!-- Overlay mờ -->
<div *ngIf="showDrawer" (click)="showDrawer = false"
  class="absolute inset-0 bg-black bg-opacity-60 z-40 transition-opacity"></div>

<!-- Drawer panel -->
<div *ngIf="showDrawer" class="absolute top-0 right-0 w-[340px] max-w-full h-full bg-[#171e2e] border-l border-[#334155] z-50
         shadow-[0_0_30px_0_rgba(31,41,55,0.5)] rounded-l-xl transition-transform duration-300
         flex flex-col" [ngClass]="{'translate-x-0': showDrawer, 'translate-x-full': !showDrawer}">
  <!-- Header -->
  <div class="flex justify-between items-center p-4 bg-[#20293c] border-b border-[#334155]">
    <span class="font-bold text-lg text-indigo-200">Danh sách câu hỏi</span>
    <button (click)="showDrawer = false" class="text-slate-400 hover:text-red-400 text-2xl px-2">&times;</button>
  </div>
  <!-- Danh sách câu hỏi -->
  <div class="p-4 space-y-2 overflow-y-auto flex-1">
    <div *ngFor="let q of data; let i = index" (click)="goToQuestion(i); showDrawer = false" class="cursor-pointer flex items-center gap-3 px-3 py-2 rounded-lg border border-transparent
            transition group" [ngClass]="{
        'bg-indigo-700 text-white shadow border-indigo-500 font-bold': i === currentIndex,
        'text-slate-300 hover:bg-indigo-800 hover:text-white': i !== currentIndex
      }">
      <span class="w-8 h-8 flex items-center justify-center rounded-full 
                   bg-indigo-600 group-hover:bg-indigo-800 text-white font-bold transition">
        {{ i + 1 }}
      </span>
      <span class="truncate text-base leading-tight" [title]="q.question">
        {{ q.question || 'Câu hỏi ' + (i + 1) }}
      </span>
    </div>
  </div>
</div>