<div class="body font-['Inter'] bg-[#181d2f] min-h-screen text-gray-200 relative">

  <!-- Start Screen -->
  <div *ngIf="currentState === TestStateEnum.StartScreen"
    class="flex flex-col items-center justify-center min-h-screen p-4 sm:p-8">
    <div class="bg-[#232945] p-6 sm:p-10 rounded-lg shadow-xl text-center w-full max-w-lg border border-[#232945]">
      <h2 class="text-base font-medium text-purple-300">Aptis General Practice Test</h2>
      <h1 class="text-3xl sm:text-4xl font-bold text-purple-400 mt-2 mb-6">Listening</h1>

      <div class="my-6">
        <label for="examSelect" class="block text-base font-medium text-purple-400 mb-2">Chọn đề thi:</label>
        <select id="examSelect" name="selectedExam" [ngModel]="selectedExamIndex"
          (ngModelChange)="onExamSelectionChange($event)"
          class="w-full p-3 border border-gray-600 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-400 bg-[#22263a] text-gray-200">
          <option *ngFor="let exam of allExamFiles; let i = index" [value]="i">
            Đề thi {{ i + 1 }}
          </option>
        </select>
      </div>

      <div class="flex flex-col sm:flex-row justify-center space-y-4 sm:space-y-0 sm:space-x-8 my-8 text-left">
        <div class="text-center sm:text-left">
          <p class="text-xs text-purple-400">Số lượng câu hỏi</p>
          <p class="text-lg font-semibold text-gray-200">{{ listQuestion.length }}</p>
        </div>
        <div class="text-center sm:text-left">
          <p class="text-xs text-purple-400">Thời gian cho phép</p>
          <p class="text-lg font-semibold text-gray-200">40 phút</p>
        </div>
      </div>
      <p class="text-base text-purple-400 mb-8">Đây là bài thực hành cho phần thi nghe Aptis General. Nhấn vào nút dưới
        đây
        để bắt đầu.</p>
      <button (click)="goToInstructions()"
        class="w-full bg-purple-700 hover:bg-purple-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50">
        Bắt đầu làm bài
      </button>
    </div>
  </div>

  <!-- Instructions Screen -->
  <div *ngIf="currentState === TestStateEnum.InstructionsScreen"
    class="flex flex-col items-center justify-center min-h-screen p-4 sm:p-8">
    <div class="bg-[#232945] p-6 sm:p-10 rounded-lg shadow-xl w-full max-w-2xl border border-[#232945]">
      <h1 class="text-xl sm:text-2xl font-bold text-purple-400 mb-4 text-center">Hướng dẫn làm bài nghe Aptis General
      </h1>
      <h2 class="text-lg font-semibold text-gray-300 mb-6 text-center">Đề thi: {{ allExamFiles[selectedExamIndex].name
        || 'Đang chọn...' }}</h2>
      <div class="text-gray-300 space-y-3 text-base sm:text-base leading-relaxed">
        <p>Bạn sẽ nghe các đoạn ghi âm cho bài thi đã chọn.</p>
        <p>Nhấn vào nút <strong>PLAY</strong> để nghe mỗi đoạn ghi âm.</p>
        <p>Bạn CHỈ CÓ THỂ nghe mỗi đoạn ghi âm <strong>HAI LẦN</strong>.</p>
        <p>Bạn có <strong>40 phút</strong> để hoàn thành bài thi.</p>
      </div>
      <p class="mt-10 text-base text-purple-400">Khi bạn nhấn nút 'Tiếp theo', bài thi sẽ bắt đầu.</p>
      <div class="mt-8 text-right">
        <button (click)="onStartTest()"
          class="bg-purple-700 hover:bg-purple-600 text-white font-semibold py-2 px-6 sm:px-8 rounded-lg shadow-md transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50">
          Tiếp theo &rarr;
        </button>
      </div>
    </div>
  </div>

  <!-- Test In Progress -->
  <div *ngIf="currentState === TestStateEnum.TestInProgress && currentQuestion"
    class="flex flex-col min-h-screen bg-[#181d2f]">
    <div
      class="bg-[#1a1f33] shadow-md p-3 sm:p-4 flex justify-between items-center sticky top-0 z-10 border-b border-gray-700">
      <div>
        <h1 class="text-lg sm:text-xl font-semibold text-purple-400">Listening - {{ allExamFiles[selectedExamIndex].name }}</h1>
        <p class="text-xs sm:text-base text-purple-400">{{ currentQuestionIndex + 1 }} / {{listQuestion.length }} câu
          hỏi
        </p>
      </div>
      <div class="flex items-center space-x-3 sm:space-x-4">
        <div class="text-right">
          <p class="text-xs text-purple-400">Thời gian còn lại</p>
          <p class="text-base sm:text-lg font-bold text-purple-400">{{ timeRemaining }}</p>
        </div>
      </div>
    </div>

    <div class="flex-grow p-4 sm:p-8 overflow-y-auto">
      <div class="bg-[#232945] p-4 sm:p-6 rounded-lg shadow-lg max-w-3xl mx-auto border border-gray-700">
        <div [ngSwitch]="currentQuestion.type">

          <ng-container *ngSwitchCase="1">
            <div class="flex justify-between items-center mb-6">
              <p class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed"
                [innerHTML]="currentQuestion.title"></p>
              <div class="tip">
                <div class="relative group inline-block">
                  <button
                    class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105">
                    Xem tip
                  </button>
                  <div [innerHTML]="currentQuestion.tip"
                    class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute w-96 mt-2 bg-[#232c41] rounded-lg p-6 text-white border border-gray-300 rounded-lg shadow-lg py-2 z-10 right-0">
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-6 flex col-5 items-center gap-2" *ngIf="currentQuestion.audio_url">
              <button (click)="playMainAudio()"
                [disabled]="currentQuestion.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== currentQuestion.audio_url"
                class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                <svg *ngIf="!(isPlayingAudio && audioPlayer.src === currentQuestion.audio_url)" class="w-5 h-5 mr-2"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                  </path>
                </svg>
                <svg *ngIf="isPlayingAudio && audioPlayer.src === currentQuestion.audio_url" class="w-5 h-5 mr-2"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                  </path>
                </svg>
                {{ (isPlayingAudio && audioPlayer.src === currentQuestion.audio_url) ? 'Dừng' : 'Phát Audio' }}
                <span class="ml-2 text-xs text-black">({{ currentQuestion.playCount }}/{{ maxAudioPlays }} lượt)</span>
              </button>
              <span
                *ngIf="currentQuestion.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === currentQuestion.audio_url)"
                class="text-red-500 text-xs mt-1 border border-red-600 rounded px-4 py-2">Hết lượt nghe.</span>
            </div>
            <div class="space-y-3">
              <div *ngFor="let option of currentQuestion.answer; let i = index"
                (click)="selectOption(option,currentQuestion.answer)"
                class="flex items-center p-3 sm:p-4 border rounded-lg cursor-pointer hover:border-purple-600" [ngClass]="{
                    'bg-[#c9c04a]': option.choose,
                  }">
                <div
                  class="w-8 h-8 flex items-center justify-center border rounded-md mr-3 sm:mr-4 font-semibold text-base"
                  [ngClass]="{ 'border-purple-600 text-purple': option.choose}">{{ getOptionLetter(i) }}</div>
                <span class="text-base sm:text-base" [ngClass]="{ 'text-purple': option.choose}"
                  [innerHTML]="option.answer"></span>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <div>

              <div class="flex justify-between items-center mb-6">
                <div [innerHTML]="currentQuestion.title"
                  class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed prose"></div>
                <div class="tip">
                  <div class="relative group inline-block">
                    <button
                      class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105">
                      Xem tip
                    </button>
                    <div [innerHTML]="currentQuestion.tip"
                      class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute w-96 mt-2 bg-[#232c41] rounded-lg p-6 text-white border border-gray-300 rounded-lg shadow-lg py-2 z-10 right-0">
                    </div>
                  </div>
                </div>
              </div>
              <div *ngFor="let questionChild of currentQuestion.childs">
                <div *ngIf="questionChild.audio_url" class="mb-6">
                  <button (click)="playMainAudio()"
                    [disabled]="questionChild.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== questionChild.audio_url"
                    class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                    <svg *ngIf="!(isPlayingAudio && audioPlayer.src === questionChild.audio_url)" class="w-5 h-5 mr-2"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                      </path>
                    </svg>
                    <svg *ngIf="isPlayingAudio && audioPlayer.src === questionChild.audio_url" class="w-5 h-5 mr-2"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                      </path>
                    </svg>
                    Phát Audio
                    <span class="ml-2 text-xs text-purple-400">({{ questionChild.playCount }}/{{ maxAudioPlays }}
                      lượt)</span>
                  </button>
                  <p *ngIf="questionChild.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === questionChild.audio_url)"
                    class="text-red-500 text-xs mt-1">Hết lượt nghe.</p>
                </div>

                <div class="flex gap-x-[10px] items-center mb-4">
                  <span class="m-0 text-base font-medium text-purple-400" [innerHTML]="questionChild.title"></span>

                  <select [(ngModel)]="questionChild.my_answer" id="examSelect" name="selectedExam" class=" p-3 border border-gray-600 rounded-lg shadow-sm focus:outline-none
                          focus:ring-2 focus:ring-purple-600 focus:border-purple-400 bg-[#22263a] text-gray-200">
                    <option value="">
                      -- Chọn --
                    </option>
                    <option *ngFor="let answer of questionChild.answer; let i = index" [value]="answer.answer"
                      (click)="selectOption(answer, questionChild.answer)">
                      {{answer.answer}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="2">
            <div class="flex justify-between items-center mb-6">
              <div [innerHTML]="currentQuestion.title"
                class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed prose"></div>
              <div class="tip">
                <div class="relative group inline-block">
                  <button
                    class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105">
                    Xem tip
                  </button>
                  <div [innerHTML]="currentQuestion.tip"
                    class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute w-96 mt-2 bg-[#232c41] rounded-lg p-6 text-white border border-gray-300 rounded-lg shadow-lg py-2 z-10 right-0">
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="currentQuestion.audio_url" class="mb-6">
              <button (click)="playMainAudio()"
                [disabled]="currentQuestion.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== currentQuestion.audio_url"
                class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                <svg *ngIf="!(isPlayingAudio && audioPlayer.src === currentQuestion.audio_url)" class="w-5 h-5 mr-2"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                  </path>
                </svg>
                <svg *ngIf="isPlayingAudio && audioPlayer.src === currentQuestion.audio_url" class="w-5 h-5 mr-2"
                  fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                  </path>
                </svg>
                Phát Audio Chính
                <span class="ml-2 text-xs text-purple-400">({{ currentQuestion.playCount }}/{{ maxAudioPlays }}
                  lượt)</span>
              </button>
              <p *ngIf="currentQuestion.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === currentQuestion.audio_url)"
                class="text-red-500 text-xs mt-1">Hết lượt nghe.</p>
            </div>
            <div *ngFor="let subQ of currentQuestion.childs; let i = index" class="mb-4 p-3 border-b">
              <p class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed" [innerHTML]="subQ.title">
              </p>
              <div class="mb-6 flex col-5 items-center gap-2" *ngIf="subQ.audio_url">
                <button (click)="playMainAudio()"
                  [disabled]="subQ.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== subQ.audio_url"
                  class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                  <svg *ngIf="!(isPlayingAudio && audioPlayer.src === subQ.audio_url)" class="w-5 h-5 mr-2"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                    </path>
                  </svg>
                  <svg *ngIf="isPlayingAudio && audioPlayer.src === subQ.audio_url" class="w-5 h-5 mr-2"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                    </path>
                  </svg>
                  {{ (isPlayingAudio && audioPlayer.src === subQ.audio_url) ? 'Dừng' : 'Phát Audio' }}
                  <span class="ml-2 text-xs text-black">({{ subQ.playCount }}/{{ maxAudioPlays }} lượt)</span>
                </button>
                <span *ngIf="subQ.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === subQ.audio_url)"
                  class="text-red-500 text-xs mt-1 border border-red-600 rounded px-4 py-2">Hết lượt nghe.</span>
              </div>
              <div class="space-y-3">
                <div *ngFor="let option of subQ.answer; let i = index" (click)="selectOption(option,subQ.answer)"
                  class="flex items-center p-3 sm:p-4 border rounded-lg cursor-pointer hover:border-purple-600"
                  [ngClass]="{
                    'bg-[#c9c04a]': option.choose,
                  }">
                  <div
                    class="w-8 h-8 flex items-center justify-center border rounded-md mr-3 sm:mr-4 font-semibold text-base"
                    [ngClass]="{ 'border-purple-600 text-purple': option.choose}">{{ getOptionLetter(i) }}</div>
                  <span class="text-base sm:text-base" [ngClass]="{ 'text-purple': option.choose}"
                    [innerHTML]="option.answer"></span>
                </div>
              </div>
            </div>
          </ng-container>

          <div *ngSwitchDefault>
            <ng-container *ngIf="0">
              <p class="text-red-500 font-semibold">Loại câu hỏi này chưa được hỗ trợ
                hiển thị.</p>
              <!-- <p class="text-purple-400 text-base">{{ qUnsupported.title }}</p> -->
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Results Screen -->
  <div *ngIf="currentState === TestStateEnum.ResultsScreen"
    class="flex flex-col items-center justify-center min-h-screen p-4 sm:p-8">
    <div class="bg-[#232945] p-6 sm:p-10 rounded-lg shadow-xl w-full max-w-4xl text-gray-200 border border-gray-700">
      <h2 class="text-2xl sm:text-3xl font-bold text-purple-400 mb-6 text-center">Kết Quả Bài Thi Nghe</h2>

      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mb-8 text-center">
        <!-- <div class="bg-green-700/80 p-4 rounded-lg">
          <p class="text-base text-green-200">Số câu đúng</p>
          <p class="text-2xl font-bold text-green-50">{{ correctAnswersCount }}</p>
        </div> -->
        <!-- <div class="bg-red-700/80 p-4 rounded-lg">
          <p class="text-base text-red-200">Số câu sai</p>
          <p class="text-2xl font-bold text-red-50">{{ incorrectAnswersCount }}</p>
        </div>
        <div class="bg-yellow-700/80 p-4 rounded-lg">
          <p class="text-base text-yellow-200">Chưa trả lời</p>
          <p class="text-2xl font-bold text-yellow-50">{{ unansweredCount }}</p>
        </div> -->
      </div>

      <h3 class="text-xl font-bold text-purple-400 mb-4">Tổng quan các câu hỏi đã làm:</h3>
      <div class="space-y-6 max-h-[60vh] overflow-y-auto pr-2">
        <ng-container *ngFor="let question of listQuestion; let i = index">
          <div [ngSwitch]="question.type">
            <ng-container *ngSwitchCase="1">
              <h2 class="font-bold text-white border-t">Câu hỏi {{ i + 1 }}</h2>

              <div class="flex justify-between items-center mb-6">
                <p class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed"
                  [innerHTML]="question.title"></p>
                <div class="tip">
                  <div class="relative group inline-block">
                    <button
                      class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105">
                      Xem tip
                    </button>
                    <div [innerHTML]="currentQuestion.tip"
                      class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute w-96 mt-2 bg-[#232c41] rounded-lg p-6 text-white border border-gray-300 rounded-lg shadow-lg py-2 z-10 right-0">
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-6 flex col-5 items-center gap-2" *ngIf="question.audio_url">
                <button (click)="playMainAudio()"
                  [disabled]="question.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== question.audio_url"
                  class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                  <svg *ngIf="!(isPlayingAudio && audioPlayer.src === question.audio_url)" class="w-5 h-5 mr-2"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                    </path>
                  </svg>
                  <svg *ngIf="isPlayingAudio && audioPlayer.src === question.audio_url" class="w-5 h-5 mr-2"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                    </path>
                  </svg>
                  {{ (isPlayingAudio && audioPlayer.src === question.audio_url) ? 'Dừng' : 'Phát Audio' }}
                  <span class="ml-2 text-xs text-black">({{ question.playCount }}/{{ maxAudioPlays }} lượt)</span>
                </button>
                <span
                  *ngIf="question.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === question.audio_url)"
                  class="text-red-500 text-xs mt-1 border border-red-600 rounded px-4 py-2">Hết lượt nghe.</span>
              </div>
              <div class="space-y-3">
                <div *ngFor="let option of question.answer; let i = index"
                  class="flex items-center p-3 sm:p-4 border rounded-lg cursor-pointer hover:border-purple-600"
                  [ngClass]="{
                      'bg-[#c9c04a] text-white': option.correct != 1 && option.choose,
                      'bg-green-500/80 text-white': option.correct == 1 && option.choose,
                      'bg-red-600/80 text-white': option.correct == 1 && !option.choose,
                    }" [class.pointer-events-none]="currentQuestion.isAnswered">
                  <div
                    class="w-8 h-8 flex items-center justify-center border rounded-md mr-3 sm:mr-4 font-semibold text-base">
                    {{ getOptionLetter(i) }}</div>
                  <span class="text-base sm:text-base" [innerHTML]="option.answer"></span>
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="3">
              <h2 class="font-bold text-white border-t">Câu hỏi {{ i + 1 }}</h2>
              <div class="flex justify-between items-center mb-6">
                <div [innerHTML]="currentQuestion.title"
                  class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed prose"></div>
                <div class="tip">
                  <div class="relative group inline-block">
                    <button
                      class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105">
                      Xem tip
                    </button>
                    <div [innerHTML]="currentQuestion.tip"
                      class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute w-96 mt-2 bg-[#232c41] rounded-lg p-6 text-white border border-gray-300 rounded-lg shadow-lg py-2 z-10 right-0">
                    </div>
                  </div>
                </div>
              </div>
              <div *ngFor="let questionChild of question.childs">
                <div *ngIf="questionChild.audio_url" class="mb-6">
                  <button (click)="playMainAudio()"
                    [disabled]="questionChild.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== questionChild.audio_url"
                    class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                    <svg *ngIf="!(isPlayingAudio && audioPlayer.src === questionChild.audio_url)" class="w-5 h-5 mr-2"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                      </path>
                    </svg>
                    <svg *ngIf="isPlayingAudio && audioPlayer.src === questionChild.audio_url" class="w-5 h-5 mr-2"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                      </path>
                    </svg>
                    Phát Audio
                    <span class="ml-2 text-xs text-purple-400">({{ questionChild.playCount }}/{{ maxAudioPlays }}
                      lượt)</span>
                  </button>
                  <p *ngIf="questionChild.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === questionChild.audio_url)"
                    class="text-red-500 text-xs mt-1">Hết lượt nghe.</p>
                </div>

                <div class="flex gap-x-[10px] items-center mb-3">
                  <span class="m-0 text-base font-medium text-purple-400" [innerHTML]="questionChild.title"></span>

                  <select [(ngModel)]="questionChild.my_answer" disabled class="w-75 p-3 border border-gray-600 rounded-lg shadow-sm focus:outline-none
                              focus:ring-2 focus:ring-purple-600 focus:border-purple-400 bg-[#22263a] text-gray-200"
                    [ngClass]="{
                            'bg-green-500/80 text-white': getRightAnswer(questionChild.answer)?.answer == questionChild.my_answer,
                            'bg-red-600/80 text-white': getRightAnswer(questionChild.answer)?.answer != questionChild.my_answer
                        }">
                    <option value="">
                      -- Chọn --
                    </option>
                    <option *ngFor="let answer of questionChild.answer" [value]="answer.answer">
                      {{ answer.answer }}
                    </option>
                  </select>
                  <span class="p-3 border border-green-600 rounded-lg" *ngIf="getRightAnswer(questionChild.answer)?.answer != questionChild.my_answer"> Đáp án: {{
                    getRightAnswer(questionChild.answer)?.answer }}</span>
                </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="2">
              <h2 class="font-bold text-white border-t">Câu hỏi {{ i + 1 }}</h2>
              <div class="flex justify-between items-center mb-6">
                <div [innerHTML]="currentQuestion.title"
                  class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed prose"></div>
                <div class="tip">
                  <div class="relative group inline-block">
                    <button
                      class="bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-300 ease-in-out transform hover:scale-105">
                      Xem tip
                    </button>
                    <div [innerHTML]="currentQuestion.tip"
                      class="opacity-0 invisible group-hover:opacity-100 group-hover:visible absolute w-96 mt-2 bg-[#232c41] rounded-lg p-6 text-white border border-gray-300 rounded-lg shadow-lg py-2 z-10 right-0">
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="question.audio_url" class="mb-6">
                <button (click)="playMainAudio()"
                  [disabled]="question.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== question.audio_url"
                  class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                  <svg *ngIf="!(isPlayingAudio && audioPlayer.src === question.audio_url)" class="w-5 h-5 mr-2"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                    </path>
                  </svg>
                  <svg *ngIf="isPlayingAudio && audioPlayer.src === question.audio_url" class="w-5 h-5 mr-2"
                    fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                    </path>
                  </svg>
                  Phát Audio Chính
                  <span class="ml-2 text-xs text-purple-400">({{ question.playCount }}/{{ maxAudioPlays }} lượt)</span>
                </button>
                <p *ngIf="question.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === question.audio_url)"
                  class="text-red-500 text-xs mt-1">Hết lượt nghe.</p>
              </div>
              <div *ngFor="let subQ of question.childs; let i = index" class="mb-4 p-3 border-b">
                <p class="mb-5 sm:mb-6 text-base sm:text-base text-purple-400 leading-relaxed" [innerHTML]="subQ.title">
                </p>
                <div class="mb-6 flex col-5 items-center gap-2" *ngIf="subQ.audio_url">
                  <button (click)="playMainAudio()"
                    [disabled]="subQ.playCount >= maxAudioPlays && isPlayingAudio && audioPlayer.src !== subQ.audio_url"
                    class="px-4 py-2 bg-slate-200 hover:bg-purple-600 text-slate-700 rounded-md flex items-center">
                    <svg *ngIf="!(isPlayingAudio && audioPlayer.src === subQ.audio_url)" class="w-5 h-5 mr-2"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z">
                      </path>
                    </svg>
                    <svg *ngIf="isPlayingAudio && audioPlayer.src === subQ.audio_url" class="w-5 h-5 mr-2"
                      fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zM8 7a1 1 0 00-1 1v4a1 1 0 001 1h4a1 1 0 001-1V8a1 1 0 00-1-1H8z">
                      </path>
                    </svg>
                    {{ (isPlayingAudio && audioPlayer.src === subQ.audio_url) ? 'Dừng' : 'Phát Audio' }}
                    <span class="ml-2 text-xs text-black">({{ subQ.playCount }}/{{ maxAudioPlays }} lượt)</span>
                  </button>
                  <span
                    *ngIf="subQ.playCount >= maxAudioPlays && !(isPlayingAudio && audioPlayer.src === subQ.audio_url)"
                    class="text-red-500 text-xs mt-1 border border-red-600 rounded px-4 py-2">Hết lượt nghe.</span>
                </div>
                <div class="space-y-3">
                  <div *ngFor="let option of subQ.answer; let i = index"
                    class="flex items-center p-3 sm:p-4 border rounded-lg cursor-pointer hover:border-purple-600"
                    [ngClass]="{
                      'bg-[#c9c04a] text-white': option.correct != 1 && option.choose,
                      'bg-green-500/80 text-white': option.correct == 1 && option.choose,
                      'bg-red-600/80 text-white': option.correct == 1 && !option.choose,
                    }" [class.pointer-events-none]="currentQuestion.isAnswered">
                    <div
                      class="w-8 h-8 flex items-center justify-center border rounded-md mr-3 sm:mr-4 font-semibold text-base">
                      {{ getOptionLetter(i) }}</div>
                    <span class="text-base sm:text-base" [innerHTML]="option.answer"></span>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>

    </div>
  </div>


</div>
<!-- Footer -->
<div
  class="Footer bg-[#1a1f33] shadow-upward p-3 sm:p-4 flex justify-between items-center sticky bottom-0 z-10 border-t border-gray-700">
  <div class="flex space-x-1 sm:space-x-2">
    <button title="Menu"
      class="p-2 rounded-md hover:bg-[#232945] focus:outline-none focus:ring-2 focus:ring-purple-600">
      <svg class="w-5 h-5 sm:w-6 sm:h-6 text-purple-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>
    <button title="Tùy chọn trợ năng"
      class="p-2 rounded-md hover:bg-[#232945] focus:outline-none focus:ring-2 focus:ring-purple-600">
      <svg class="w-5 h-5 sm:w-6 sm:h-6 text-purple-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z">
        </path>
      </svg>
    </button>
  </div>
  <div class="flex space-x-2 sm:space-x-3">
    <button *ngIf="currentState === TestStateEnum.TestInProgress" (click)="previousQuestion()"
      [disabled]="currentQuestionIndex === 0"
      class="px-4 sm:px-6 py-2 border rounded-md text-base font-medium text-purple-400 border-purple-600 hover:bg-[#232945] disabled:opacity-50 disabled:cursor-not-allowed flex items-center transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-purple-600">
      <svg class="w-4 h-4 mr-1 hidden sm:inline" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
      Trước
    </button>
    <button *ngIf="currentState === TestStateEnum.TestInProgress && currentQuestionIndex < listQuestion.length - 1"
      (click)="nextQuestion()"
      class="px-4 sm:px-6 py-2 bg-purple-700 text-white rounded-md text-base font-medium hover:bg-purple-600 flex items-center transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50">
      Sau
      <svg class="w-4 h-4 ml-1 hidden sm:inline" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
    <button *ngIf="currentState === TestStateEnum.TestInProgress && currentQuestionIndex === listQuestion.length - 1"
      (click)="finishTest()"
      class="px-4 sm:px-6 py-2 bg-green-600 text-white rounded-md text-base font-medium hover:bg-green-500 transition-colors duration-150 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-50">
      Nộp bài
    </button>

    <div class="text-center" *ngIf="currentState === TestStateEnum.ResultsScreen">
      <button (click)="goToStartScreen()"
        class="bg-purple-700 hover:bg-purple-600 text-white font-semibold py-3 px-8 rounded-lg shadow-md transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50">
        Quay về giao diện chọn đề thi tiếp theo
      </button>
    </div>

        <div class="text-center" *ngIf="currentState === TestStateEnum.ResultsScreen && selectedExamIndex < allExamFiles.length - 1">
      <button (click)="goToNextExam()"
        class="bg-purple-700 hover:bg-purple-600 text-white font-semibold py-3 px-8 rounded-lg shadow-md transition duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50">
        Đề tiếp theo
      </button>
    </div>
  </div>
</div>