<!-- app.component.html -->
<router-outlet></router-outlet>
<!-- ng build --configuration production --base-href /Typeverse/
npx angular-cli-ghpages --dir=dist/Typeverse --no-silent -->
<!-- 
git add .
git commit -m "cải tiến giao diện audio"
git push -u origin dev
ng build --configuration production --base-href /Typeverse/
npx angular-cli-ghpages --dir=dist/Typeverse --no-silent 
-->

<!-- 
git init
git remote add origin https://github.com/giahuy692/Typeverse.git
git add .
git commit -m "Init new Angular project v16 with Kendo"
git branch -M typeverse_v16
git push -f origin typeverse_v16 
-->
