::ng-deep app-layout {
    .layout-wrapper {
        // min-height: 100vh;
        // background-color: #f9fafb;
        // color: #111827;

    }

    .layout-main {
        // padding: 2rem;
        // max-width: 1280px;
        margin: 0 auto;
        height: calc(100vh - 90px);
        overflow-y: auto;
        scroll-behavior: smooth;
    }

}

::ng-deep html.dark app-layout .layout-wrapper {
  background-color: #111827 !important;
  color: #f9fafb;
}
