/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/scss/_variables.scss';
@import './assets/scss/_mixins.scss';
@import './assets/scss/main.scss';
@import './assets/scss/_typography.scss';

// primeng
@import "primeng/resources/themes/arya-purple/theme.css";
@import "primeng/resources/primeng.css";

body {
  background-color: #111827; // thậm chí còn tối hơn
  color: #f3f4f6; // slate-100
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

a:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 10px 0;
    padding: 0;
}

table {
    width: 100%;
}

table,
th,
td {
    font-size: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding-left: 10px;
    border-color: #d2d2d2;
}

tr {
    margin-bottom: 10px;
}

td {
    vertical-align: central;
    padding: 5px !important;
    border-color: #d2d2d2;
}

ul li {
    /*list-style: none !important;*/
}

ul {
    padding: 0;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #585858;
}

a:hover {
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    cursor: pointer;
    color: #c1001c;
}

.slick-slider {
    margin-bottom: 0;
}

.slick-prev:before,
.slick-next:before {
    content: "";
}

span,
p {
  color: #f3f4f6; // slate-100
}


html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background: transparent !important;
}
::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 4px !important;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a259ff 0%, #ffc845 100%) !important;
  border-radius: 4px !important;
  min-height: 40px !important;
  transition: background 0.2s !important;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #b884fd 0%, #ffe080 100%) !important;
}

